* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(666px at 0.4% 48%, #d5bdaf 0%, #f5ebe0 97.5%) no-repeat center center fixed;
    background-size: cover;
}

.card {
    width: 40vw;
    background: #e3d5ca;
    padding: 3rem;
    border-radius: 10px;
    position: relative;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #e3d5ca80;
    transform: rotate(-3deg);
    border-radius: 10px;
    z-index: -1;
}

.search {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.card input {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 0.5rem 8rem;
    margin-top: 1rem;
    border-radius: 100px;
    transition: background .5s;
    text-align: center;
}

.card input:focus {
    background: #fff;
}

.card button {
    background: #3d2e4f;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    cursor: pointer;
}

.card button:hover {
    background-color: #200726;
}

.content-weather {
    margin-top: 2rem;
}

.weather-cities h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.weather-cities p {
    margin-top: 1rem;
    line-height: 1.3rem;
}

.weather-cities .datetime {
    color: #000;
}

.weather-cities .datetime:hover {
    color: #000;
}

.weather-cities span {
    color: #4A1259;
    transition: all .3s ease-in-out;
}

.weather-cities span:hover {
    color: #fff;
}

.weather {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    width: 65px;
}

footer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    font-size: 12px;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: #200726;
    transition: all .3s ease-in-out;
}

footer a:hover {
    color: #A192A6;
}

@media (max-width: 1270px) {

    .card {
        min-width: 40vw;
        margin: 0 auto;
    }

    .search {
        margin: 0 auto;
    }

    .content-weather {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card input[type="text"] {
        padding: 0.5rem 4.5rem;
    }

    .card button {
        margin-top: 0.7rem;
        padding: 0.5rem 7.1rem;
    }
}

@media (max-width: 860px) {

    body {
        padding: 2rem 0;
    }

    .search {
        margin: 0 auto;
    }

    .card {
        width: 280px;
        min-height: 45vh;
        padding: 2rem;
        margin: 0 auto;
    }

    .card input[type="text"] {
        padding: 0.5rem 2.5rem;
        margin-right: 2rem;
    }

    .card button {
        margin-right: 2rem;
        margin-top: 0.7rem;
        padding: 0.5rem 5.2rem;
    }

}